{{- "<!-- related.html -->" | safeHTML }}
{{- $n := default 5 site.Params.Posts.RelatedLimit }}
{{- $related := site.RegularPages.Related . | first $n }}
{{- $series := .GetTerms "series" }}
{{- if or $related $series }}
<nav id="related" aria-label="{{ i18n "related" }}">
    {{- if $series }}
        {{- range $series | first $n }}
        <strong class="section-title">
            <a href="{{ .Permalink }}">{{ i18n "series" }}: {{ .Title }}</a>
        </strong>
            <ol>
            {{- range .Pages.ByWeight | first 5 }}
                {{ if ne $ . -}}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{- end }}
            {{- end }}
            {{- if gt (len .Pages) $n }}
                <li class="see-more"><a href="{{ .Permalink }}">{{ i18n "seeAll" }}: {{ .Title }}</a></li>
            {{- end }}
            </ol>
        {{- end }}
    {{- else if $related }}
        {{- with $related }}
        <strong class="section-title">{{ i18n "related" }}</strong>
            <ol>
                {{- range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{- end }}
            </ol>
        {{- end }}
    {{- end }}
</nav>
{{- end }}
