{{- $subtitle := .Params.Subtitle -}}
{{- $isPost := eq (lower .Params.type) (or "post" "articles") -}}

{{- if $subtitle }}
    <hgroup data-bionRead-safe>
        <h1 id="title"
            {{- if $isPost }}
                data-pagefind-meta="title"
            {{- end }}
            >{{ .Title }}</h1>
        <p class="subtitle" role="doc-subtitle">{{ $subtitle }}</p>
    </hgroup>
{{- else }}
    <h1 id="title"
        {{- if $isPost }}
            data-pagefind-meta="title"
        {{- end }}
        data-bionRead-safe
        >{{ .Title }}</h1>
{{- end }}
